/*
 * =======
 * 暗色基岩
 * =======
 */

:root{
    --basalt-bright-element-color: 61, 118, 225;
    --basalt-dark-element-color: 68, 72, 187;

    --basalt-reverse-overtone: 50, 50, 50;
    --basalt-reverse-UI-dark-palette: var(--basalt-reverse-overtone);
    --basalt-reverse-bright-element-color: 16, 76, 184;
    --basalt-reverse-dark-element-color: 18, 20, 150;
    --basalt-reverse-primary-color: 254, 254, 254;
    --basalt-reverse-secondary-color: 217, 218, 222;
    --basalt-reverse-tertiary-color: 194, 196, 200;
    --basalt-reverse-main-text-color: 20, 20, 20;
    --general-reverse-border-color: 180, 180, 180;

    --basalt-outline-strength: 0.95;
}

/* div视觉调整 */

:is(div.blockquote, blockquote).reverse {
    outline: rgba(var(--blockquote-background-reverse-color), var(--blockquote-outline-strength)) solid 0.25rem;
}

div:is(.notation, .jotting, .transcript, .modal, .smallmodal).reverse {
    outline: rgba(var(--basalt-reverse-primary-color), var(--blockquote-outline-strength)) solid 0.15rem;
}

div.darkdocument, div.document.reverse {
    color: rgb(var(--basalt-main-text-color));
}

div.darkdocument, div.darkdocument::after, div.darkdocument::before,
div.document.reverse, div.document.reverse::after, div.document.reverse::before {
    box-shadow: -6px -4px 0px 2px rgba(var(--basalt-bright-element-color), 0.35), 7px 11px 0px 5px rgba(var(--basalt-dark-element-color), 0.35);
}

.bibitems::before, .footnotes-footer::before,
.bibitems .title, .footnotes-footer .title {
    background-color: rgb(var(--basalt-dark-element-color));
}

.polished-acs {
    --five-color: 212, 28, 55;
    --six-color: 103, 69, 237;
}

/* 暗色提示 */

div:is([class$="_memo"], [class~="memo"]) {
    --memo-color: var(--basalt-tertiary-color);
    background-color: color-mix(in oklab, rgba(var(--memo-color)) 25%, rgba(var(--basalt-secondary-color)) 100%);
    border: solid 2px rgba(var(--memo-color), 1);
}

div:is([class$="_memo"], [class~="memo"])::before {
    color: rgb(var(--basalt-reverse-tertiary-color));
}

div:is([class$="_memo"], [class~="memo"])::after {
    content: "";
    background: var(--memo-logo);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    filter: invert(1);
    opacity: 0.1;
    pointer-events: none;
}

div:is([class^="raisa_"], [class~="raisa"]) {
    --memo-logo: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/RAISA_DARKLOGO.png);
}

div:is([class^="classification_"], [class~="classification"]) {
    --memo-logo: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/CLASSIFICATION_DARKLOGO.png);
}

div:is([class^="etrra_"], [class~="ettra"]) {
    --memo-logo: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/ETTRA_DARKLOGO.png);
}

div:is([class^="ethics_"], [class~="ethics"]) {
    --memo-logo: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/ETHICS_DARKLOGO.png);
}

div:is([class^="temporal_"], [class~="temporal"]) {
    --memo-logo: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/DELTA_T_DARKLOGO.png);
}

div:is([class^="overwatch_"], [class~="overwatch"]) {
    --memo-logo: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/O5_DARKLOGO.png);
}

div:is([class^="miscomm_"], [class~="miscomm"]) {
    --memo-logo: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/MISCOMM_DARKLOGO.png);
    color: rgb(var(--basalt-main-text-color));
}

div:is([class^="raisa_"], [class~="raisa"],
       [class^="classification_"], [class~="classification"],
       [class^="etrra_"], [class~="ettra"],
       [class^="ethics_"], [class~="ethics"],
       [class^="temporal_"], [class~="temporal"],
       [class^="overwatch_"], [class~="overwatch"],
       [class^="miscomm_"], [class~="miscomm"]):after {
    --memo-logo: none;
    filter: none;
}

div:is([class^="antimeme_"], [class~="antimeme"],
       [class^="surreal_"], [class~="surreal"],
       [class^="unreal_"], [class~="unreal"],
       [class^="it_"], [class~="it"],
       [class^="admin_"], [class~="admin"]) {
    background-image: none;
}

div:is([class^="antimeme_"], [class~="antimeme"],
       [class^="surreal_"], [class~="surreal"],
       [class^="unreal_"], [class~="unreal"],
       [class^="it_"], [class~="it"]):after {
    background-image: var(--memo-logo);
}

div:is([class^="admin_"], [class~="admin"]):after {
    --memo-logo: url(https://scpsandboxcn.wikidot.com/local--files/jr-reboot/Administrator-JR-Speciallized-Light-Colored.svg);
    filter: none;
}

/* 暗色提示 - 明暗反转 */

div:is([class$="_memo"], [class~="memo"]).reverse {
    --memo-logo-reverse: none;
    --memo-color-reverse: var(--basalt-reverse-tertiary-color);
    --memo-alpha-reverse: 0.1;
    background: linear-gradient(rgba(var(--memo-color-reverse), var(--memo-alpha-reverse)), rgba(var(--memo-color-reverse), var(--memo-alpha-reverse))), var(--memo-logo-reverse) rgba(var(--memo-color-reverse), calc(1 - var(--memo-alpha-reverse)));
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border: solid 2px rgba(255, 255, 255, 0.1);
    color: rgb(var(--basalt-tertiary-color));
}

div:is([class$="_memo"], [class~="memo"]).reverse::before {
    color: rgb(var(--basalt-reverse-main-text-color));
}

div:is([class$="_memo"], [class~="memo"]).reverse::after {
    --memo-logo-reverse: url(https://scpsandboxcn.wikidot.com/local--files/jr-reboot/SCP_Foundation_Edit.svg);
}

/* 下面这些是用来重新定义已有的memo的 */

div[class^="raisa"][class$="memo"].reverse {
    --memo-logo-reverse: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/RAISA_LIGHTLOGO.png);
}

div[class^="classification"][class$="memo"].reverse {
    --memo-logo-reverse: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/CLASSIFICATION_LIGHTLOGO.png);
}

div[class^="ettra"][class$="memo"].reverse {
    --memo-logo-reverse: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/ETTRA_LIGHTLOGOpng);
}

div[class^="ethics"][class$="memo"].reverse {
    --memo-logo-reverse: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/ETHICS_LIGHTLOGO.png);
}

div[class^="temporal"][class$="memo"].reverse {
    --memo-logo-reverse: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/DELTA_T_LIGHTLOGO.png);
}

div[class^="overwatch"][class$="memo"].reverse {
    --memo-logo-reverse: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/O5_LIGHTLOGO.png);
    --memo-color-reverse: 227, 227, 227;
    --memo-alpha-reverse: 0;
}

div[class^="miscomm"][class$="memo"].reverse {
    --memo-logo-reverse: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/MISCOMM_LIGHTLOGO.png);
}

/* 上面这些是用来重新定义已有的memo的 */

div:is([class^="raisa_"], [class~="raisa"],
       [class^="classification_"], [class~="classification"],
       [class^="etrra_"], [class~="ettra"],
       [class^="ethics_"], [class~="ethics"],
       [class^="temporal_"], [class~="temporal"],
       [class^="miscomm_"], [class~="miscomm"],
       [class^="antimeme_"], [class~="antimeme"],
       [class^="surreal_"], [class~="surreal"],
       [class^="unreal_"], [class~="unreal"],
       [class^="it_"], [class~="it"],
       [class^="admin_"], [class~="admin"]).reverse {
    --memo-color-reverse: var(--memo-color);
}

div:is([class^="raisa_"], [class~="raisa"],
       [class^="classification_"], [class~="classification"],
       [class^="etrra_"], [class~="ettra"],
       [class^="ethics_"], [class~="ethics"],
       [class^="temporal_"], [class~="temporal"],
       [class^="overwatch_"], [class~="overwatch"],
       [class^="miscomm_"], [class~="miscomm"],
       [class^="antimeme_"], [class~="antimeme"],
       [class^="surreal_"], [class~="surreal"],
       [class^="unreal_"], [class~="unreal"],
       [class^="it_"], [class~="it"]).reverse:after {
    --memo-logo-reverse: none;
    filter: none;
}

div:is([class^="antimeme_"], [class~="antimeme"],
       [class^="surreal_"], [class~="surreal"],
       [class^="unreal_"], [class~="unreal"],
       [class^="it_"], [class~="it"]).reverse {
    background-image: linear-gradient(rgba(var(--memo-color-reverse), var(--memo-alpha-reverse)), rgba(var(--memo-color-reverse), var(--memo-alpha-reverse))), var(--memo-logo-reverse);
}

div:is([class^="admin_"], [class~="admin"]).reverse:after {
    --memo-logo-reverse: url(https://scpsandboxcn.wikidot.com/local--files/jr-reboot/Administrator-JR-Speciallized-Colored.svg);
}