/*
 * ============
 * 配色明暗反转
 * ============
 */

:root{
    --basalt-reverse-overtone: 180, 180, 181;
    --basalt-reverse-UI-dark-palette: 55, 55, 56;
    --basalt-reverse-bright-element-color: 17, 48, 167;
    --basalt-reverse-dark-element-color: 16, 20, 112;
    --basalt-reverse-primary-color: 13, 13, 15;
    --basalt-reverse-secondary-color: 72, 72, 75;
    --basalt-reverse-tertiary-color: 44, 44, 45;
    --basalt-reverse-main-text-color: 195, 195, 195;

    --basalt-reverse-main-text-color-invert: 60, 60, 60;

    --general-reverse-border-color: 165, 165, 165;
    --basalt-reverse-th-text-color: var(--basalt-reverse-main-text-color);
    --floatbox-reverse-background-color: var(--basalt-reverse-secondary-color);

    --blockquote-background-reverse-color: var(--basalt-reverse-secondary-color);
    --blockquote-border-reverse-color: var(--general-reverse-border-color);

    --basalt-outline-strength: 0.75;
}

:is(div.blockquote, blockquote).reverse {
    background-color: rgb(var(--blockquote-background-reverse-color));
    border: solid var(--blockquote-border-width) rgb(var(--blockquote-border-reverse-color));
    color: rgb(var(--basalt-reverse-main-text-color));
    overflow: auto;
    outline: rgba(var(--blockquote-background-reverse-color), var(--basalt-outline-strength)) solid 0.25rem;
}

div.notation.reverse {
    background-color: rgb(var(--basalt-reverse-secondary-color));
    border-left: solid 0.25rem rgb(var(--general-reverse-border-color));
    border-right: solid 0.25rem rgb(var(--general-reverse-border-color));
    color: rgb(var(--basalt-reverse-main-text-color));
    outline: rgba(var(--basalt-reverse-secondary-color), var(--basalt-outline-strength)) solid 0.25rem;
}

div.modal.reverse {
    background-color: rgb(var(--basalt-reverse-primary-color));
    border: solid 0.2rem rgb(var(--general-reverse-border-color));
    color: rgb(var(--basalt-reverse-main-text-color));
    outline: rgb(var(--basalt-reverse-primary-color), var(--basalt-outline-strength)) solid 0.25rem;
}

div.smallmodal.reverse {
    background-color: rgb(var(--basalt-reverse-primary-color));
    border: solid 0.15rem rgb(var(--general-reverse-border-color));
    color: rgb(var(--basalt-reverse-main-text-color));
    outline: rgba(var(--basalt-reverse-primary-color), var(--basalt-outline-strength)) solid 0.25rem;
}

div:is(.jotting, .transcript).reverse {
    background-color: rgb(var(--basalt-reverse-secondary-color));
    border: dashed 0.15rem rgb(var(--general-reverse-border-color));
    color: rgb(var(--basalt-reverse-main-text-color));
    outline: rgba(var(--basalt-reverse-secondary-color), var(--basalt-outline-strength)) solid 0.25rem;
}

div.papernote.reverse {
    background-color: rgb(var(--basalt-reverse-tertiary-color));
    color: rgb(var(--basalt-reverse-main-text-color));
}

div.darkdocument, div.darkdocument::after, div.darkdocument::before,
div.document.reverse, div.document.reverse::after, div.document.reverse::before {
    box-shadow: -6px -4px 0px 2px rgba(var(--basalt-reverse-bright-element-color), 0.35), 7px 11px 0px 5px rgba(var(--basalt-reverse-dark-element-color), 0.5);
}

div.darkdocument, div.document.reverse {
    background-color: rgb(var(--darkdocument-background-color));
    color: rgb(var(--basalt-reverse-main-text-color));
}

div:is(.document.reverse, .darkdocument)::before,
div:is(.document.reverse, .darkdocument)::after {
    background-color: rgb(var(--darkdocument-background-color));
    opacity: 75%;
}

div:is([class$="_memo"], [class~="memo"]).reverse {
    --memo-color-reverse: var(--basalt-reverse-secondary-color);
    --memo-logo-reverse: url(https://scpsandboxcn.wikidot.com/local--files/jr-reboot/SCP_Foundation_Edit_Reverse.svg);
    --memo-alpha-reverse: var(--memo-alpha);
    --memo-color-light-reverse: var(--memo-color);
    --memo-logo-alpha-fix: 0;
    border: solid 2px rgba(var(--memo-color-light-reverse), 1);
    background: linear-gradient(rgba(var(--memo-color-reverse), var(--memo-alpha-reverse)), rgba(var(--memo-color-reverse), var(--memo-alpha-reverse))), var(--memo-logo-reverse) rgba(var(--basalt-reverse-tertiary-color), calc(1 - var(--memo-alpha-reverse) + var(--memo-logo-alpha-fix)));
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    color: rgb(var(--basalt-reverse-main-text-color));
}

div:is([class$="_memo"], [class~="memo"]).reverse::before {
    --memo-color-light-reverse: var(--memo-color);
    color: rgb(var(--memo-color-light-reverse));
}

div:is([class^="raisa_"], [class~="raisa"]).reverse {
    --memo-logo-reverse: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/RAISA_DARKLOGO.png);
    --memo-alpha-reverse: 0.1;
}

div:is([class^="classification_"], [class~="classification"]).reverse {
    --memo-logo-reverse: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/CLASSIFICATION_DARKLOGO.png);
    --memo-alpha-reverse: 0.1;
}

div:is([class^="etrra_"], [class~="ettra"]).reverse {
    --memo-logo-reverse: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/ETTRA_DARKLOGO.png);
    --memo-alpha-reverse: 0.05;
    --memo-logo-alpha-fix: 0.5;
}

div:is([class^="ethics_"], [class~="ethics"]).reverse {
    --memo-logo-reverse: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/ETHICS_DARKLOGO.png);
    --memo-alpha-reverse: 0.1;
}

div:is([class^="temporal_"], [class~="temporal"]).reverse {
    --memo-logo-reverse: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/DELTA_T_DARKLOGO.png);
    --memo-alpha-reverse: 0.05;
}

div:is([class^="overwatch_"], [class~="overwatch"]).reverse {
    --memo-logo-reverse: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/O5_DARKLOGO.png);
    --memo-alpha-reverse: 0;
    --memo-logo-alpha-fix: -0.1;
}

div:is([class^="miscomm_"], [class~="miscomm"]).reverse {
    --memo-logo-reverse: url(https://scp-wiki.wikidot.com/local--files/theme:basalt/MISCOMM_DARKLOGO.png);
    --memo-alpha-reverse: 0.1;
    --memo-logo-alpha-fix: -0.3;
}

div:is([class^="antimeme_"], [class~="antimeme"]).reverse {
    --memo-color-reverse: 178, 175, 162;
    --memo-color-light-reverse: 67, 64, 49;
    --memo-alpha-reverse: 0.5;
    color: rgb(var(--basalt-reverse-main-text-color-invert));
    filter: invert(1);
}

div:is([class^="antimeme_"], [class~="antimeme"]).reverse::before {
    --memo-color-light-reverse: 67, 64, 49;
}

div:is([class^="surreal_"], [class~="surreal"]).reverse {
    --memo-color-reverse: 199, 180, 182;
    --memo-color-light-reverse: 59, 22, 26;
    --memo-alpha-reverse: 0.5;
    color: rgb(var(--basalt-reverse-main-text-color-invert));
    filter: invert(1);
}

div:is([class^="surreal_"], [class~="surreal"]).reverse::before {
    --memo-color-light-reverse: 59, 22, 26;
}

div:is([class^="unreal_"], [class~="unreal"]).reverse {
    --memo-color-reverse: 160, 160, 160;
    --memo-color-light-reverse: 30, 30, 30;
    --memo-alpha-reverse: 0.5;
    color: rgb(var(--basalt-reverse-main-text-color-invert));
    filter: invert(1);
}

div:is([class^="unreal_"], [class~="unreal"]).reverse::before {
    --memo-color-light-reverse: 30, 30, 30;
}

div:is([class^="it_"], [class~="it"]).reverse {
    --memo-color-reverse: 196, 168, 126;
    --memo-color-light-reverse: 71, 31, 4;
    --memo-alpha-reverse: 0.5;
    --memo-logo-alpha-fix: 0.7;
    color: rgb(var(--basalt-reverse-main-text-color-invert));
    filter: invert(1);
}

div:is([class^="it_"], [class~="it"]).reverse::before {
    --memo-color-light-reverse: 71, 31, 4;
}

div:is([class^="admin_"], [class~="admin"]).reverse {
    --memo-logo-reverse: url(https://scpsandboxcn.wikidot.com/local--files/jr-reboot/Administrator-JR-Speciallized-Light-Colored.svg);
    --memo-alpha-reverse: 0.1;
    --memo-logo-alpha-fix: 1;
    --memo-color-reverse: 138, 65, 164;
}

:is(.table1, .table2, .table3, .table4, .table5, .table6).reverse {
    --basalt-th-text-color: var(--basalt-light-text-color);
}

:is(.table1, .table2, .table3, .table4, .table5, .table6).reverse h1 {
    color: rgb(var(--basalt-reverse-th-background-color));
}

#page-content div.floatbox.reverse {
    background-color: rgb(var(--floatbox-reverse-background-color));
    border: solid 0.12rem rgba(var(--general-reverse-border-color), 0.4);
    color: rgb(var(--basalt-reverse-main-text-color));
    box-shadow: -6px 6px rgba(var(--basalt-dark-element-color), 0.75);
}

.floatbox.right.reverse {
    box-shadow: 6px 6px rgba(var(--basalt-dark-element-color), 0.75) !important;
}