/*
 * ===================================
 * 反无响应保存状态机制
 * original and modified from Peroxide
 * ===================================
 */

body:has(#u-polished-basalt-savingpages-blocker .collapsible-block-folded[style*="none"]) iframe#odialog-shader-iframe {
    display: none;
}

body:has(.owindow.owait) div#odialog-shader {
    background: rgba(var(--basalt-overtone), 0.5);
    pointer-events: none;
}

body:has(#u-polished-basalt-savingpages-blocker .collapsible-block-folded[style*="none"]) div#odialog-shader {
    background: transparent;
    pointer-events: none;
}

div#u-polished-basalt-savingpages-blocker {
    display: none;
}

body:has(.owindow.owait) div#u-polished-basalt-savingpages-blocker {
    display: block;
}

body:has(.owindow.owait) div#u-polished-basalt-savingpages-blocker :is(.collapsible-block-folded a, .collapsible-block-unfolded a) {
    position: fixed;
    right: 50vw;
    bottom: 5vh;
    transform: translate(calc(50vw - 5rem), 0%);
    width: auto;
    z-index: 100;
    text-align: right;
    background-color: rgb(var(--button-background-color));
    padding: 0.6rem 1rem;
    outline: rgb(var(--button-outline-color)) solid 0;
    color: rgb(var(--button-text-color));
    border: solid .125em rgb(var(--button-border-color));
    font-family: var(--UI-font);
    font-size: var(--true-font-size);
    transition: all var(--button-hover-transition);
}

div#u-polished-basalt-savingpages-blocker :is(.collapsible-block-folded a, .collapsible-block-unfolded a):is(:hover,:focus) {
    color: rgb(var(--button-hover-text-color)) !important;
    background-color: rgb(var(--button-hover-background-color)) !important;
    border-color: rgb(var(--button-hover-border-color)) !important;
    outline-width: .25rem !important;
    text-decoration: none;
}

body:has(div#u-polished-basalt-savingpages-blocker .collapsible-block-folded[style*="none"]) :is(#odialog-shader-iframe, #odialog-shader) {
    opacity: 0;
    pointer-events: none;
}

body:has(div#u-polished-basalt-savingpages-blocker .collapsible-block-folded[style*="none"]) #odialog-container {
    opacity: 0;
    pointer-events: none;
}