/*
 * ===============
 * 强化版悬停链接预览
 * ===============
 */

:root {
    --hoverlink-width: min(35rem, 95vw);
    --hoverlink-height: min(14rem, 20vh);
    --special-link-color: #1d8bdb;
    --hoverlink-read-more: "↗ 搜一搜？";
    --search-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' class='iconify iconify--basil' width='1em' height='1em' viewBox='0 0 24 24' style='color: %231d8bdba8; width: 462px; '%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M14.385 15.446a6.751 6.751 0 1 1 1.06-1.06l5.156 5.155a.75.75 0 1 1-1.06 1.06zM6.46 13.884a5.25 5.25 0 1 1 7.43-.005l-.005.005l-.005.004a5.25 5.25 0 0 1-7.42-.004' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}

.hoverlink {
    border-bottom: dashed 0.15rem var(--special-link-color);
}

.hoverlink a {
    color: var(--special-link-color);
}

.hoverlink > sup {
    background-image: var(--search-icon);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    display: inline-block;
    color: transparent;
    width: 1em;
}

.hoverlink-card {
    transform: translate(-57.5%, calc(-100% - var(--hoverlink-distance) + var(--hoverlink-motion-distance)));
    font-size: 1rem;
    box-shadow: 0.5rem 0.3rem 0 0.1rem rgb(var(--basalt-polished-color));
    border-radius: 0;
    border: thin solid rgb(var(--basalt-dark-element-color));
    transition-delay: 0.5s, 0.5s, 0.9s;
    pointer-events: inherit;
    user-select: inherit;
}

.hoverlink-image, hoverlink-title {
    pointer-events: none;
    user-select: none;
}

.hoverlink-text {
    overflow: hidden scroll;
    scrollbar-width: none;
    padding-bottom: 1.5em;
}

.hoverlink-text::-webkit-scrollbar { width: 0px; }

.hoverlink-text::after {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: right;
}

.hoverlink:has(.hoverlink-image) .hoverlink-text::after {
    width: calc(100% - var(--hoverlink-image-width));
}

.hoverlink > :is(a:hover, a:active, a:focus, sup:hover) ~ .hoverlink-card, .hoverlink-card:is(:hover, :focus), .hoverlink-card--static {
    opacity: 1;
    visibility: visible;
    --hoverlink-motion-distance: 0rem;
    transition-delay: 0.2s, 0.2s, 0s;
}

@media (max-width: 1600px) {
  .hoverlink {
    position: static;
  }

  .hoverlink-card {
    top: auto;
    transform: translate(-50%, calc(0px - var(--hoverlink-distance) + var(--hoverlink-motion-distance)));
    --hoverlink-distance: 100% - 2rem;
  }
}

@media (max-width: 600px) {
  .hoverlink-card {
    --hoverlink-image-width: 12rem;
    width: var(--hoverlink-width);
    height: auto;
    max-height: var(--hoverlink-height);
    min-height: 10rem;
  }

  .hoverlink-card:has(.hoverlink-image) {
    height: 12rem;
    grid-template-areas: "title image" "text image";
    grid-template-rows: auto;
    grid-template-columns: auto var(--hoverlink-image-width);
  }
}